:root {
    --variable-name: value;
  }
  selector {
    property: var(--variable-name);
  }
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

body {
  font-family: var(--font-family);
}
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color:rgba(5, 28, 114, 0.881);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

  }
  nav h1 {
    color:#fcfcfc;
    font-size: 30px;
  }
  nav h1:hover{
    font: weight 300px;
    color: #fa6639;
    
  }
  
  nav a {
    color:white;
    
    font-size: 20px;
  }
  nav a:hover {

    border-bottom: 2px solid white;
    
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }
  .burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.7rem;
    padding-left: 10%;
    max-width: 90.75rem;
 }
  hero img {
    height:500px;
    width:500px;
    padding-left: 10px;
    margin-top: 10%;
  }
  .bio {
    width: 40rem;
    height: 300px;
    padding: 0.700rem;
    margin-top: 10%;
    padding-left: 6%;
    margin-left: 15%;
   border-radius: 6px;
    /* box-shadow: 0px 2px 15px 2px var(--primary-shadow); */
  }
  .bio:hover
  {
    color: #ff7235;
  }
  .bio h1{

    margin-bottom: var(--bottom-margin);
    margin-top: 15%;
    transition-duration: 1s;
  }
  
  .bio-title{
    font-size: 70px;
  }
 
 .bio-text h2{
  font-size:40px;
 }
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
    margin-top: 30px;
    font-size: 30px;
  }

  .myimg
{
   margin: left 70%;
   border-color:white;
   margin-top:0px;
   border-radius: 250px;
   border: 5px solid black;
   margin-left: 5%;
   
}
.myimg:hover
{
  transform: scale(1.2);
  transition-duration: 2s;
  box-shadow: 0px 0px 30px grey;
  padding: auto;
}
  .more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
  display: flex;
   margin-top: 10%;
   
 }
  
  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    font-size:30px;
  }
  .more-about h2:hover{
    color:#ff7235;
  }
  
  .more-about p {
    line-height: var(--line-height);
    padding: 1rem;
  padding: left 0%;;
  font-size: 20px;
  margin-top: 30px;
  }
  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 4.8rem;
    background-color: #8b8eaf;
  }
  
  .skill-header {
    margin-bottom: 1rem;
    font-size: 30px;
    margin-left: 40%;
  }
  .skill-header:hover{
    color:#ff7235;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }
  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
    transition-duration: 1s;
  }
  .icon-card:hover{
    box-shadow: 10px 10px 20px lightblue;
    border-radius: 30px 30px;
    flex-direction: row-reverse;
    flood-color: var(--primary-shadow);
}
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}
.project-pic {
  height: 250px;
  width: 250px;
 
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 30px;
}
.projects-title:hover{
  color:#ff7235;
}
.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
  
}
.project-container p {
  padding: 0.4rem;
}
.projects-title {
  margin-bottom: var(--bottom-margin);
}
.project-details {
  margin-bottom: var(--bottom-margin);
}
.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}
.project-title{
  font-size: 20px;

}
.project-title:hover{
 color: #fa6639;
}
#card{
  background-color: #e3e4f5;
}



.contact {
  margin-top: 2rem;
  
}
.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
  font-size: 30px;
}
.contact h2:hover{
  color:#ff7235;
}
label 
{
  font-size: 20px;
}
label:hover{
 font-size: 25px;

}
.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  background-color: black;
}
.contact-form-container label {
  line-height: 2.7em;
  /* font-weight: var(--bold-font); */
  /* color: var(--primary-color); */
}
.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}
.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom:10px;
  border-radius: 5px;
  border: none;
  border: 2px outset black;
  font-size: 0.875rem;
  outline: none;
}
.input-field::placeholder {
  padding: 0.5rem;
  color: black;
}
.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: black;
}
.submit-btn:hover {
  background-color: #ff7235;
  border: 2px solid black;
  cursor: pointer;
}
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}
.socicon {
  width: 2rem;
  height: 2rem;
}
 .footer {
  position: relative;
  width: 100vw;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.social-icon__item,
.menu__item {
  list-style: none;
}
.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}
.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.menu__link:hover {
  opacity: 1;
}
.footer p{
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}
.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}
.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}
.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}
.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}
@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
